body {
  background-color: #fff;
  margin: 0;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.font-shadow {
  font-family: "Shadows Into Light", cursive;
}

.t-btn {
  border-radius: 20px;
}
.react-parallax-bgimage {
  height: initial !important;
}
